<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>        
    <link rel="shortcut icon" href="/assets/favicon-16x16.png">
  </head>
<header><!-- NavBar  1-->
    <div class="containerNav">
      <nav class="container-flex-row navbar">
        <div class="container-flex-row">
          <img
            class="imagen"
            src="./img/resized_logo_UQww2soKuUsjaOGNB38o.png" width="40" height="40"/> 
            <input class="input-text" type="text" placeholder="Search..." />
        </div>
      </nav>
    </div>
</header>
<body>
    
</body>
</html>