<!-- Esta view solo es de prueba es el contenedor de los post -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome! - DEV Community</title>
    <link rel="icon" href="../assets/original_logo_0DliJcfsTcciZen38gX9.png" type="image">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="./view/js/post5.js">
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="false-post-container" class="col-12">
                <!-- Aqui abajo van a estar impresos los post para que puedas trabajar en lo que Lau termina el maquetado, una vez termine vamos a utilizar este div con el ID para que se ligue a la pagina principal  -->
            <!-- Center Section -->
                <div
                class="center-section container flex-container-column"
                id="center-section"
                >
                <div class="center-buttons">
                <div class="center-button">
                    <p>Relevant</p>
                </div>
                <div class="center-button">
                    <p>Latest</p>
                </div>
                <div class="center-button">
                    <p>Top</p>
                </div>
                <div class="center-button">
                    <input type="date" id="filtro">
                </div>
                <button class="reload" onclick="location.reload()">
                <img src="/img/refresh.svg" alt=""></button>
                </div>
                <p id="no-data" class="p-nodata"> No se encontraron Post con la fecha seleccionada</p>
                <div id="post-cards">
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="../js/post5.js"></script>    
</body>
</html>


