<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">
    <title>[Python 🐍 Mastery] Overview of Linked List in Python & Essential Linked List Operations 🛠️ </title>
</head>

<body class="bg-body-secondary">
    <header class="sticky-top">
        <nav class="navbar bg-white mb-3 shadow-sm">
            <div class="container-fluid">
              <div class="left__nav--section d-flex">
                <button class="navbar-toggler d-md-none " type="button" data-bs-toggle="offcanvas"
                  data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a href="../index.html" class="logo__button--header"><img class="site-logo__img" style="height: 40px; width: 50px;"
                    src="https://dev-to-uploads.s3.amazonaws.com/uploads/logos/resized_logo_UQww2soKuUsjaOGNB38o.png"
                    alt="DEV Community"></a>
                <div class="search__nav--section d-none d-md-block">
                  <form class="d-flex " role="search">
                    <input class="form-control me-2" style="width: 420px;" type="search" placeholder="Search"
                      aria-label="Search">
                    <button class="btn position-absolute" id="buttonforsearch" type="submit"><a href="#"
                        class="mx-2"><img src="../img/search_icon.svg" alt="search_icon"></a></button>
                  </form>
                </div>
              </div>
              <div class="right__nav--section d-flex flex-nowrap mx-1">
                <button id="loginButton" type="button" class="btn fw-bold d-md-block fs-6">Log in</button>
                <button type="button" class="btn btn-outline-primary fw-bold d-none d-md-block fs-6 text"><a
                    href="#"></a>Create account</button> 
              </div>
              <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="font-weight: bold;">DEV Community</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
              </div>
            </div>
          </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-1 d-none d-md-block position-sticky">
                    <ul style="list-style: none;" class="" id="aside-post">
                        <li class="nav-item">
                            <a class="m-2" href="#"><img style="width: 2vw;" src="../img/heart.svg"
                                    alt="icon-search"></a>
                        </li>
                        <li>
                            <a class="m-2" href="#"><img style="width: 2vw;" src="../img/comment-svgrepo-com.svg"
                                    alt="comment"></a>
                        </li>
                        <li>
                            <a class="m-2" href="#"><img style="width: 2vw;" src="../img/bookmark-svgrepo-com.svg"
                                    alt="bookmark"></a>
                        </li>
                        <li>
                            <div class="dropdown">
                                <a href="#" class="d-flex align-items-center link-dark text-decoration-none"
                                    id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="../img/three-dots-menu-svgrepo-com.svg" alt="" class="rounded-circle mx-2"
                                        style="width: 2vw">
                                </a>
                                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                                    <li><a class="dropdown-item" href="#">Copy Link</a></li>
                                    <li><a class="dropdown-item" href="#">Share to Twitter</a></li>
                                    <li><a class="dropdown-item" href="#">Share to Linkedin</a></li>
                                    <li><a class="dropdown-item" href="#">Share to Reddit</a></li>
                                    <li><a class="dropdown-item" href="#">Share to Facebook</a></li>
                                    <li><a class="dropdown-item" href="#">Report abuse</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col col-md-9 col-xl-6">
                    <div class="position">
                        <article class="blog-post bg-body-tertiary rounded">
                            <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--epIuEQb5--/c_imagga_scale,f_auto,fl_progressive,h_420,q_66,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/hxc6ivfk5qnvrvo5nf5n.gif" class="img-fluid" alt="TitlePost">
                            <p class="blog-post-meta p-3">
                                Posted on
                                <time datetime="2022-11-18T12:42:15Z" class="date-no-year"
                                    title="Friday, November 18, 2022 at 6:42:15 AM">Nov 18</time>
                                • Originally published at
                                <a href="#">profy.dev</a>
                            </p>
                            <h1 class="p-2"><strong>[Python 🐍 Mastery] Overview of Linked List in Python & Essential Linked List Operations 🛠️</strong></h1>
                            <a href="#" class="ms-5">#python</a>
                            <a href="#">#tutorial</a>
                            <a href="#">#beginners</a>
                            <a href="#">#programming</a>
                            <p class="p-4">In the last article, we learned about Object Oriented Programming and had a mountain overview of Python's Magic/Dunder methods. 
                            <ol>
                                <li>Object-Oriented Programming (OOP) in Python: This paradigm in Python revolves around creating reusable code. It involves using classes as blueprints for objects. These objects can have attributes (data) and methods (functions) that define their behavior and interactions.</li>
                                <li>Python's Magic/Dunder Methods: Magic or Dunder (double underscore) methods in Python are special methods with names that start and end with double underscores (e.g., __init__, __str__, __repr__). </li>
                                <li>You'll be able to read about it here. 👇</li>
                            </ol>
                            <img src="../img/img1.png" class="img-fluid mt-5 alt=">
                        </article>
                    </div>
                </div>
                <div class="col-4 d-none d-xl-block">
                    <div class="position">
                        <div class="p-4 mb-4 bg-light rounded">
                            <div class="d-flex">
                                <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--QM2H33ep--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/organization/profile_image/7463/4c49cf34-952f-455a-a8d4-e49f7ad4a7f4.png"
                                    class="crayons-avatar__image" alt="" loading="lazy">
                                <h5 class="fst-italic">Swirl</h5>
                            </div>
                            <button type="button"
                                class="btn btn-primary d-grid gap-2 col-12 mx-auto mx-3">Follow</button>
                            <p>One Search Box to Find it All 🌌 </p>
                            <p>Swirl is an open-source search platform.
                                Generate AI-powered insights with GPT or other LLMs on your data. Visit Swirl on GitHub now and contribute.</p>
                            <button type="button"class="btn btn-ligth d-grid gap-2 col-12 mx-auto mx-3">⭐️ Swirl on GitHub ⭐</button>
                        </div>

                        <div class="card right-aside mt-3">
                            <div class="card-body">
                              <h5 class="right-aside--help mb-4"><strong>More from Swirl</strong></h5>
                              <div>
                                <p class="right-aside--help"><a href="" class="nav-link disabled">24 Best Resources 🎨 For Web Developers 💻 [HTML + CSS + JavaScript] 😱</a></p>
                                <ul class="nav">
                                    <li class="nav-item">
                                      <a class="nav-link active" aria-current="page" href="#">#webded</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">#javascript</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">#beginners</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" aria-disabled="true">#opensource</a>
                                    </li>
                                  </ul>
                              </div>
                              <div>
                                <p class="right-aside--help"><a href="" class="nav-link disabled">
                                    [Python 🐍 Mastery] Python's Object-Oriented Programming Overview and Fundamentals ⭐️
                                    </a></p>
                                <ul class="nav">
                                    <li class="nav-item">
                                      <a class="nav-link active" aria-current="page" href="#">#beginners</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">#python</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">#programming</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" aria-disabled="true">#tutorial</a>
                                    </li>
                                  </ul>
                              </div>
                              <div>
                                <p class="right-aside--help"><a href="" class="nav-link disabled">
                                    Accelerate Your Career 👩🏻‍💻 by Contributing to these 9 Repositories 🔥
                                    </a></p>
                                <ul class="nav">
                                    <li class="nav-item">
                                      <a class="nav-link active" aria-current="page" href="#">#webded</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">#javascript</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" href="#">#beginners</a>
                                    </li>
                                    <li class="nav-item">
                                      <a class="nav-link" aria-disabled="true">#opensource</a>
                                    </li>
                                  </ul>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <footer class="footer__container bg-body-secondary">
        <p class="footer__container-text " style="text-align: center;"><a style="text-decoration: none;"
                href="https://dev.to/">DEV Community</a>—A constructive and inclusive social network for software
            developers. With you every step of your journy.</p>
        <ul class="footer__container-list d-flex flex-wrap "
            style=" display: flex; justify-content:center; list-style: none; ">
            <li class="footer__container-list-link " style="list-style: none; "><a style="text-decoration: none"
                    href="">Home</a></li>
            <li class="footer__container-list-link"><a style="text-decoration: none;" href="">Listing</a></li>
            <li class="footer__container-list-link"><a style="text-decoration: none;" href="">Postcasts</a></li>
            <li class="footer__container-list-link"><a style="text-decoration: none;" href="">Videos</a></li>
            <li class="footer__container-list-link"><a style="text-decoration: none;" href="">Tags</a></li>
            <li class="footer__container-list-link"><a style="text-decoration: none;" href="">FAQ</a></li>
            <li class="footer__container-list-link"><a style="text-decoration: none;" href="">Forem Shop</a></li>
            <li class="footer__container-list-link"><a style="text-decoration: none;" href="">Sponsors</a></li>
            <li class="footer__container-list-link"><a style="text-decoration: none;" href="">About</a></li>
            <li class="footer__container-list-link"><a style="text-decoration: none;" href="">Contact</a></li>
            <li class="footer__container-list-link"><a style="text-decoration: none;" href="">Guides</a></li>
            <li class="footer__container-list-link"><a style="text-decoration: none;" href="">Software comparasions</a>
            </li>
            <li class="footer__container-list-link"><a style="text-decoration: none;" href="">Code of Conduct</a></li>
            <li class="footer__container-list-link"><a style="text-decoration: none;" href="">Privacy</a></li>
        </ul>
        <p class="footer__container-text-2 " style="text-align: center;">Built on <a style="text-decoration: none; "
                href="https://dev.to/">Forem</a>—the <a style="text-decoration: none; " href="https://dev.to/">open
                source</a> software that powers <a style="text-decoration: none; " href="https://dev.to/">DEV</a> and
            other inclusive communities.</p>
        <p class="footer__container-text-3 " style="text-align: center;">Made with love and <a
                style="text-decoration: none; " href="https://dev.to/">Ruby On Rails</a>. Dev community © 2016 - 2023.
        </p>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>